<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dicoding.picodiploma.kaidahapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/MyTheme">
        <activity android:name=".FollowedMemberActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".EditProfileActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".LoginActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".PremiumActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".SignupActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".MemberDetailActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".datadetail.DetailActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".dataregulation.PageRegulationActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".datahistory.HistoryActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".datajdhin.JdhinActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".datasubject.SubjectSerializedActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".datalistregulationJdhin.DetailJdhinActivity" android:configChanges="orientation" android:screenOrientation="portrait" />
        <activity android:name=".SplashScreenActivity" android:configChanges="orientation" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature android:name="android.hardware.screen.portrait" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>